<br>
<br>
<br>
<br>
<div class="card" style="width: 18rem;">
  <div class="card-header">Si jamais vous galerez : </div>
  <div class="card-body">Vous pouvez nous joindre a cette adresse mail : </div> 
  <div class="card-footer"><a href="mail@contact"> Contact </a></div>
</div>
  
