<br>
<br>
<br>
<br>
<div class="card" style="width: 18rem;">
  <div class="card-header"><h2>Voici l'équipe :</h2></div>
  <div class="card-body">
  	<li>Oussama alias Se7en, dis le fils de lion de ces dames</li>
    <li>JP alias MrChips, dis le suceur de sang de Place des fetes !!! </li></div> 
  <div class="card-footer">IZIIIIII!!!</div>
</div>

