<!DOCTYPE html>
<html>
  <head>
    <title>TEAM</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
   
  </head>

  <body>
    <header>
        <nav class="navbar navbar-light bg-light">
          <span class="navbar-text">
              TEAM
          </span>
      </nav>
    </header>

     <ul> Voici l'équipe : 

        <li>Oussama alias Se7en, dis le fils de lion de ces dames <img src=""></li>
        <li>JP alias MrChips, dis le suceur de sang de Place des fetes !!! <img src=""></li>

      </ul>
  </body>
</html>

